@import url('https://fonts.googleapis.com/css?family=Nunito');

* {
	color: black;
}

body{
	font-size: 36px;
	font-family: "Nunito";
	font-weight: 700;
	background: #fff;
	margin: auto;
	max-width: 960px;
}
header, footer{
	position: sticky;
	z-index: 2;
	background: #fff;
}
header{
	top: 0;
	padding: 5px 5px 0px 5px;
}
footer{
	bottom: 0;
	padding: 0px 5px 5px 5px;

}
#title{
	top: 5px;
	padding: 10px;
	background: #b9ebb9;
	border: 3px solid rgba(0,0,0,0.08);
	border-radius: 10px;
	text-align: center;
}
#credit{
	font-size: 20px;
	font-weight: 500;
	padding: 2px 2px 2px 10px;
	border: 3px solid rgba(0,0,0,0.08);
	border-radius: 10px;
	background: #b9ebb9;
}
#pokeList{
	margin: 5px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
#pokeList::after{
	flex: auto;
}
.pokeImg{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: 60px;
	padding: 15px;
	background: #b9ebb9;
	border: 3px solid rgba(0,0,0,0.08);
	border-radius: 10px;
	filter: grayscale:(100%);
	transition: filter 0.5s ease;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin: 3px;
}
.pokeImg img{
	max-width: 100%;
	max-height: 100%;

}
.grayOn{
	filter: grayscale(100%);
}

