@import url('https://fonts.googleapis.com/css?family=Nunito');

ul {
	padding: 0;
}
button,input {
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    line-height: 1.15;
    font-family: inherit;
    font-size: 100%;
    background: 0;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    outline: 0;
	overflow: visible;
}
body {
	color: #444;
	font-size: 28px;
	font-family: "Nunito";
	font-weight: 700;
	background: #dbf1dc;
	margin: auto;
	max-width: 960px;
	width: 100%;
}
body.fixed {
	width: 100%;
	overflow: hidden;
	touch-action: none;
}
body.darkMode {
	background: #36393f;
}
header, footer {
	z-index: 2;
	background: #dbf1dc;
	color: #444;
}
header {
	position: sticky;
	top: 0;
	display: flex;
	padding: 5px 20px 5px 20px;
	background: white;
	box-shadow: 0 2px 0 0 rgba(0,0,0,0.15);
	border-radius: 0 0 10px 10px;
	justify-content: space-between;
	align-items: center;
}
header.darkMode, #credit.darkMode {
	background: #26292e;
	color: #dddddd;
	box-shadow: 0 2px 0 0 rgba(0,0,0,0.4);
}
header.darkMode input {
	background-color: #36393f;
}
#searchBar{
	display: flex;
	align-items: center;
	width: 100%;
	margin-left: 20px;
	border-radius: 5px;
	background-color: #f4f4f4;
}
#pokeSearch{
	display: inline-block;
	width: 100%;
	padding: 8px 10px 8px 10px;
	font-size: 16px;
}
#menuButton{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	padding: 2px;
	margin-left: 20px;
	height: 36px;
	width: 36px;
	min-width: 36px;
	cursor: pointer;
}
#menuButton span{
	display: inline-block;
	position: relative;
	height: 2px;
	background: #444;
	width: 100%;
	border-radius: 1px;
}

#menuButton span::before, #menuButton span::after{
	content: "";
	display: inline-block;
	position: absolute;
	height: 2px;
	background: #444;
	width: 100%;
	border-radius: 1px;
	transition: transform 0.2s ease;
}
header.darkMode #menuButton span, header.darkMode #menuButton span::before, header.darkMode #menuButton span::after{
	background: #ddd;
}
#menuButton span::before {
    transform: translate(-50%,-8px)
}

#menuButton span::after {
    transform: translate(-50%,8px)
}

#menuButton:hover span::before {
    transform: translate(-50%,-12px)
}

#menuButton:hover span::after {
    transform: translate(-50%,12px)
}
#menuContainer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(2px);
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s, visibility 0.3s;
	z-index: 10;
}
#menuContainer.open {
	visibility: visible;
	opacity: 1;
}
#menuOptions{
	display:flex;
	margin-left: auto;
	align-items: center;
}
#menuClose{
	font-size: 28px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	width: 36px;
	height: 36px;
	cursor: pointer;
	transition: background-color 0.3s;
	border-radius: 50%;
}
#menuClose:hover{
	background: #ddd;
}
#menuContents{
	font-size: 20px;
	display: flex;
	flex-flow: column;
	width: 260px;
	height: 100%;
	float: right;
	background: #f4f4f4;
	padding: 20px 20px 20px 20px;
	overflow: auto;
	transform: translateX(100%);
	transition: background-color 0.3s, transform 0.3s;
}
#menuContents hr {
	margin: 15px 0 15px 0;
}
#menuContainer.open #menuContents{
	transform: translateX(0);
}
#menuContents.darkMode{
	background: #26292e;
	color: #ddd;
}
#menuContents.darkmode #menuClose:hover{
	background: rgba(255, 255, 255, 0.15);
}
footer{
	position: fixed;
	max-width: inherit;
	width: inherit;
	bottom: 0;
}
footer.darkMode{
	background: #36393f;
}
#title{
	align-self: flex-end;
	white-space: nowrap;
}
#credit{
	display: flex;
	font-size: 16px;
	padding: 2px 2px 2px 10px;
	border-radius: 10px 10px 0 0;
	box-shadow: 0 2px 0 0 rgba(0,0,0,0.15);
	background: white;
	justify-content: center;
	align-items: center;
}
#credit a{
	color: #444;
}
#credit.darkMode a{
	color: #ddd;
}
svg{
	margin-right: 5px;
	stroke: #444;
	transition: stroke 0.5s ease-in;
}
svg.darkMode {
	stroke: #ddd;
}
#themeToggle {
	margin-right: 8px;
	width: 32px;
	height: 16px;
	position: relative;
	display: block;
	background: white;
	border: 1px solid #444;
	border-radius: 30px;
	cursor: pointer;
}
#themeToggle::after {
	content: "";
	width: 12px;
	height: 12px;
	position: absolute;
	top: 2px;
	left: 2px;
	background: #444;
	border-radius: 50%;
	transition: left 0.5s ease-out, background-color 0.5s ease-out, border-color 0.5s ease-out;
}
#themeToggle.darkMode {
	background: #ddd;
	border-color: black;
}
#themeToggle.darkMode::after {
	left: 16px;
	background: #26292e;
}
#pokeList{
	margin: 5px 10px 25px 10px;
	font-weight: 500;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
#pokeList::after{
	flex: auto;
}
#pokeList.darkMode li {
	background: #4c6857;
	box-shadow: 0 2px 0 0 rgba(0,0,0,0.4), inset 0 0 0 2px rgb(82, 158, 63);
	color: #ddd;
}
#typeFilter{
	display:grid;
	grid-template-columns: repeat(2, 1fr);
}
#toggleAll{
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	margin-bottom: 10px;
}
#toggleAll > div, #typeFilter > div, #settingsContainer > div{
	display: flex;
	font-size: 16px;
	font-weight: 500;
	color: white;
	justify-content: center;
	align-items: center;
	border: 2px solid rgba(255,255,255,0.3);
	border-radius: 5px;
	margin: 2px;
	cursor: pointer;
}
#filterAllOn{
	background: green;
}
#filterAllOff{
	background: #222;
}
#shinyLockToggle{background: #907200;}
#formToggle{background: red;}

#settingsContainer{
	display: grid;
	grid-template-columns: repeat(1, 1fr);
}
.container{
	display: flex;
	flex-direction: column;
	width: 100px;
	background: #feffde;
	border-radius: 10px;
	box-shadow: 0 2px 0 0 rgba(0,0,0,0.15), inset 0 0 0 2px gold;
	padding: 5px 4px 5px 4px;
	filter: grayscale(0%);
	transition: background-color 0.5s ease, box-shadow 0.5s ease;
	margin: 5px 2px 4px 2px;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.image{
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 100%;
	height: 70px;
	transition: filter 0.5s ease;
	object-fit: contain;
}
.info{
	position: relative;
	font-size: 15px;
    text-align: center;
	width: 100%;
}
.grayOn img{
	filter: grayscale(100%);
}
.types{
	font-size: 11px;
	font-weight: 500;
}
.typeBox{
	display: inline-block;
	margin: 1px;
	color: white;
	width: 40%;
	border-radius: 5px;
	border: 2px solid rgba(255,255,255,0.3);
}
.filterToggle{
	display:none;
}

.textbug{background: #518300;}
.textdark{background: #433d4c;}
.textdragon{background: #0052a8;}
.textelectric{background: #907200;}
.textfairy{background: #a955a4;}
.textfighting{background: #b02352;}
.textfire{background: #cc4408;}
.textflying{background: #5776a5;}
.textghost{background: #33548f;}
.textgrass{background: #2b8721;}
.textground{background: #b85d2c;}
.textice{background: #1d8373;}
.textnormal{background: #6c767c;}
.textpoison{background: #904cac;}
.textpsychic{background: #cb4851;}
.textrock{background: #827649;}
.textsteel{background: #367489;}
.textwater{background: #2e78ba;}

.textbug, .textdark, .textdragon, .textelectric, .textfairy, .textfighting, .textfire, .textflying, .textghost,
.textgrass, .textground, .textice, .textnormal, .textpoison, .textpsychic, .textrock, .textsteel, .textwater, #formToggle, #shinyLockToggle {
	cursor: pointer;
	transition: background-color 0.5s ease;
}

.grayOn{
	background:white !important;
	box-shadow: 0 2px 0 0 rgba(0,0,0,0.15);
}
#pokeList.darkMode li.grayOn{
	background: rgba(255,255,255,.15) !important;
	box-shadow: 0 2px 0 0 rgba(0,0,0,0.4);
	color: #e0ebe2;
}
#settingsContainer > .grayOn, #typeFilter > .grayOn{
	background: #bbb !important;
}

@media(max-width: 575px) {
	#header{
		justify-content: center;
		font-size: 24px;
	}
	#title{
		display:flex;
		flex: 1;
		justify-content: center;
	}
	#counter{
		margin-left: 10px;
	}
    #searchBar{
        display: none;
    }
	#credit{
		font-size: 14px;
	}
}
